apiVersion: v1
kind: Service
metadata:
  name: controller-manager-metrics-service
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    control-plane: controller-manager
  ports:
  - name: https
    port: 8443
    targetPort: https
